@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.flexbox {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.goto, .card-curso .goto, .card-user .head .name, .card-user .content .goto, .bar .progress-container .progress, .verticalBars .item-bar .tag, .verticalBars .item-bar .tag-primary, .verticalBars .item-bar .tag-alert, .verticalBars .item-bar .item, .dashboard-main .card-welcome .left-container .animate, .dashboard-main .card-welcome .right-container .animate, .pop-info, .my-profile .head .btn-plus {
  position: absolute;
}

.card-curso, .card-user .head, .card-user .content, .bar .progress-container, .verticalBars .item-bar, .dashboard-main .card-welcome .left-container, .dashboard-main .card-welcome .right-container, .my-profile .head {
  position: relative;
}

.separator, .card-user .head .user-photo, .verticalBars .item-bar:hover .pop-info, .dashboard-menu .menu li .icon, .dashboard-menu .menu li .home, .dashboard-menu .menu li .classes, .dashboard-menu .menu li .resources, .dashboard-menu .menu li .learning, .dashboard-menu .menu li .chat, .dashboard-menu .menu li .settings, .dashboard-menu .menu li .search, .dashboard-menu .menu li span {
  display: block;
}

.hide, .pop-info {
  display: none;
}

.flexbox {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.card-curso, .card-user, .verticalBars .item-bar {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card-curso, .card-user, .verticalBars .item-bar {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.flex-center, body, .card-user .head, .dashboard, .dashboard-menu .header, .dashboard-menu .menu, .dashboard-main .card-welcome, .dashboard-main .card-welcome .right-container, .tag, .tag-primary, .tag-alert, .my-profile .head {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  justify-content: center;
}

.flex-equal, .meus-cursos, .card-users, .bar .progress-container, .card-time-learn, .report-item, .dashboard-main .header {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.flex-end, .left-container, .right-container {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
}

.flex-start, .card-curso, .right-container, .bar, .verticalBars, .dashboard-menu .menu li .link, .dashboard-main .header h2, .report-item .text {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
}

.separator, .card-user, .dashboard, .dashboard-main .header, .dashboard-main .card-welcome, .dashboard-main .card-welcome .right-container .header .title {
  margin-bottom: 25px;
}

.separator, .meus-cursos .header, .card-users, .card-user .head, .card-user .content, .verticalBars .item-bar .item, .dashboard-menu .menu li, .dashboard-main .card-welcome, .dashboard-main .card-welcome .right-container .header, .dashboard-main .card-welcome .right-container .header .title, .dashboard-main .card-welcome .right-container .header .paragraph, .dashboard-main .card-welcome .left-container .animate, .dashboard-main .card-welcome .right-container .animate, .card-last-results .header, .card-time-learn .header, .card-time-learn .verticalBars, .report-item, .list, .list-color, .list .item, .list-color .item, .my-profile, .my-profile .head {
  width: 100%;
}

.left-container, .right-container {
  width: 50%;
}

.dashboard-main .card-welcome .left-container, .dashboard-main .card-welcome .right-container, .report-item .bar {
  height: 100%;
}

body, .dashboard-menu, .dashboard-main {
  min-height: 100vh;
}

.btn-primary {
  padding: 0 10px;
}

.goto, .card-user, .card-user .head .user-photo, .card-last-results, .card-time-learn, .my-profile .head .profile-photo {
  background: white;
}

.btn-primary, .card-user .head .name, .verticalBars .item-bar .item, .tag-primary {
  background-color: #2f2e6f;
}

.bar-negative .progress-container .progress, .tag-alert {
  background-color: #ff808b;
}

.bar .progress-container, .verticalBars .item-bar, .tag, .tag-primary, .tag-alert {
  background-color: #e6e6e6;
}

.goto:hover, .btn-plus, .verticalBars .item-bar:nth-child(odd) {
  background-color: #5f80f5;
}

.card-curso, .pop-info, .my-profile .head .btn-plus:hover {
  background-color: #030540;
}

.card-user:nth-child(odd) .head, .verticalBars .item-bar:nth-child(even) {
  background-color: #009daf;
}

body, .card-user .head {
  background-color: #c5cbd8;
}

.dashboard-menu .menu li .link:hover, .dashboard-main {
  background-color: #f3f1fa;
}

.circle, .home, .classes, .resources, .learning, .chat, .settings, .goto, .btn-plus, .card-user .head .user-photo, .my-profile .head .profile-photo {
  border-radius: 50%;
}

.elem-shadow, .goto, .card-user, .card-user .head .user-photo, .dashboard-menu .menu li .link:hover .icon, .dashboard-menu .menu li .link:hover .home, .dashboard-menu .menu li .link:hover .classes, .dashboard-menu .menu li .link:hover .resources, .dashboard-menu .menu li .link:hover .learning, .dashboard-menu .menu li .link:hover .chat, .dashboard-menu .menu li .link:hover .settings, .dashboard-menu .menu li .link:hover .search, .pop-info {
  -webkit-box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.15);
}

.card-curso, .card-last-results, .card-time-learn {
  -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.025);
          box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.025);
}

.card-radius, .dashboard-main .card-welcome, .card-last-results, .card-time-learn, .card-curso {
  border-radius: 10px;
}

.elem-radius, .btn, .btn-primary, .tag, .tag-primary, .tag-alert, .card-curso .code, .card-curso .text, .card-user, .card-user .head .name, .verticalBars .item-bar .item {
  border-radius: 5px;
}

.cont-radius, .dashboard {
  border-radius: 20px;
}

.header .title {
  font-size: 1.6rem;
}

.paragraph, .dashboard-menu .menu li, .header h2 {
  font-size: 0.85rem;
}

.info, .card-curso .code, .card-curso .text, .bar .value, .header .subtitle, .tag, .tag-primary, .tag-alert, .report-item .bar .value, .list .item, .list-color .item {
  font-size: 0.75rem;
}

.card-curso .text p, .card-user .head .name, .verticalBars .item-bar .item, .pop-info, .report-item .text .identifier, .report-item .text .name {
  font-size: 0.7rem;
}

.card-user .head .name, .verticalBars .item-bar .item, .dashboard-menu .header {
  text-align: center;
}

.info, .card-curso .code, .card-curso .text a, .dashboard-menu .menu li, .header .title, .header .subtitle, .header h2, .tag, .tag-primary, .tag-alert {
  font-weight: bold;
}

.card-user .head .name, .bar .value, .report-item .text .identifier, .report-item .text .name {
  font-weight: 600;
}

.paragraph, .header .title, .header .subtitle, .header h2, .tag, .tag-primary, .tag-alert, .report-item .text .identifier {
  color: #030540;
}

.btn-primary:hover, .bar .value, .dashboard-menu .menu li {
  color: #7879b2;
}

.btn-primary, .card-curso .code, .card-curso .text p, .card-curso .text a, .card-user .head .name, .verticalBars .item-bar .item, .pop-info, .tag-primary, .tag-alert {
  color: white;
}

.bar-negative .value, .dashboard-main .card-welcome .right-container .header .title {
  color: #ff808b;
}

.info, .report-item .text .name {
  color: #b3b3b3;
}

.btn, .btn-primary, .card-curso .goto, .card-user .content .goto, .verticalBars .item-bar, .my-profile .head .btn-plus {
  cursor: pointer;
}

.icon, .home, .classes, .resources, .learning, .chat, .settings, .search, .btn, .btn-primary, .goto, .verticalBars .item-bar, .dashboard-menu .menu li .link, .pop-info, .pop-info[data-position=top], .pop-info[data-position=left] {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.info, .paragraph, .card-curso .code, .card-curso .text, .card-user .head .name, .bar .value, .verticalBars .item-bar .item, .dashboard-menu .menu li, .header .title, .header .subtitle, .header h2, .pop-info, .tag, .tag-primary, .tag-alert, .report-item .text .identifier, .report-item .text .name, .list .item, .list-color .item {
  font-family: 'Montserrat', sans-serif;
}

/*
    Função para automatizar a compatibilidade de z-idexes
*/
body {
  width: 100vw;
  overflow-x: hidden;
  padding-top: 2%;
}

a {
  color: inherit;
  text-decoration: none;
}

.icon, .home, .classes, .resources, .learning, .chat, .settings, .search {
  width: 40px;
  height: 40px;
}

.home {
  background: #f3f1fa url("https://img.icons8.com/cotton/24/000000/web-design.png") no-repeat center;
}

.classes {
  background: #f3f1fa url("https://img.icons8.com/cotton/24/000000/code-file-1.png") no-repeat center;
}

.resources {
  background: #f3f1fa url("https://img.icons8.com/cotton/24/000000/cloud-line-chart.png") no-repeat center;
}

.learning {
  background: #f3f1fa url("https://img.icons8.com/cotton/24/000000/health-calendar.png") no-repeat center;
}

.chat {
  background: #f3f1fa url("https://img.icons8.com/cotton/24/000000/online-support.png") no-repeat center;
}

.settings {
  background: #f3f1fa url("https://img.icons8.com/cotton/24/000000/edit-property.png") no-repeat center;
}

.search {
  border-radius: 5px;
  background: #c5cbd8 url("https://img.icons8.com/material-rounded/24/ffffff/search.png") no-repeat center;
}

.search {
  border-radius: 5px;
  background: #c5cbd8 url("https://img.icons8.com/material-rounded/24/ffffff/search.png") no-repeat center;
}

.paragraph {
  line-height: 1.2rem;
}

.btn, .btn-primary {
  border: none;
  height: 30px;
}

.goto {
  width: 24px;
  height: 24px;
  background-image: url("https://img.icons8.com/material-outlined/16/000000/advance.png");
  background-repeat: no-repeat;
  background-position: center;
}

.goto:hover {
  background-image: url("https://img.icons8.com/material-outlined/16/ffffff/advance.png");
}

.btn-plus {
  width: 25px;
  height: 25px;
  background-image: url("https://img.icons8.com/android/15/ffffff/plus.png");
  background-repeat: no-repeat;
  background-position: center;
}

.card-curso {
  padding: 12px;
  max-width: 32.5%;
}

.card-curso .goto {
  bottom: 5px;
  right: 5px;
}

.card-curso .code {
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.2);
}

.card-curso .text p,
.card-curso .text a {
  padding-left: 10px;
  line-height: 1.2rem;
}

.card-users .card-user {
  max-width: 24%;
}

.card-user {
  min-width: 150px;
}

.card-user .head {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 20px 12px;
}

.card-user .head .user-photo {
  border: 5px solid white;
  width: 60px;
  height: 60px;
}

.card-user .head .name {
  left: 5%;
  bottom: -10px;
  width: 90%;
  padding: 5px;
}

.card-user .content {
  padding: 12px;
}

.card-user .content .goto {
  bottom: 5px;
  right: 5px;
}

.left-container .info, .right-container .info {
  margin: 0 25px;
}

.bar {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.bar .progress-container {
  border-radius: 5px;
  height: 5px;
  width: calc(100% - 50px);
}

.bar .progress-container .progress {
  border-radius: 5px;
  height: 5px;
  max-width: 100%;
  left: 0;
  top: 0;
  background-color: #adaffb;
}

.verticalBars {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -moz-align-items: end;
  align-items: end;
  height: 150px;
}

.verticalBars .item-bar {
  border-radius: 5px;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 2px, rgba(255, 255, 255, 0.5) 2px, rgba(255, 255, 255, 0.5) 4px);
  min-height: 2px;
  margin: 0 3px;
}

.verticalBars .item-bar .tag, .verticalBars .item-bar .tag-primary, .verticalBars .item-bar .tag-alert {
  width: 90%;
  bottom: 5px;
  left: 5%;
}

.verticalBars .item-bar .item {
  margin-top: 5px;
  top: 100%;
  padding: 3px 0;
}

.verticalBars .item-bar:last-child .pop-info {
  right: 0%;
}

.verticalBars .item-bar:last-child .pop-info:after {
  left: 80%;
}

.dashboard {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  width: 88vw;
  min-height: 60vh;
  background-color: #fff;
}

.dashboard-menu {
  width: 18%;
  border-right: 1px solid #eae9ee;
}

.dashboard-menu .header {
  padding: 40px 10px;
  margin-bottom: 40px;
}

.dashboard-menu .menu li .link {
  padding: 10px 0 10px 40px;
}

.dashboard-menu .menu li span {
  padding-left: 15px;
}

.dashboard-menu .menu .active {
  border-right: 2px solid #030540;
}

.dashboard-main {
  width: 62%;
  padding: 40px;
}

.dashboard-main .card-welcome {
  background-color: #f8e5e9;
  min-height: 150px;
  padding: 25px;
}

.dashboard-main .card-welcome .left-container .animate, .dashboard-main .card-welcome .right-container .animate {
  z-index: 3;
  height: 180px;
  background: url("../../images/welcome.png") no-repeat center;
  background-size: contain;
}

.dashboard-actions {
  width: 20%;
  border-left: 1px solid #eae9ee;
  padding: 40px 0;
}

.dashboard-actions .list, .dashboard-actions .list-color {
  padding: 20px;
}

.pop-info {
  z-index: 4;
  border-radius: 5px;
  padding: 8px;
  min-width: 200px;
}

.pop-info:after {
  z-index: 5;
  position: absolute;
  left: 10%;
  top: 100%;
  display: block;
  content: '';
  border-top: 5px solid #030540;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.pop-info[data-position=top] {
  top: -30px;
}

.pop-info[data-position=left] {
  top: 50%;
}

.tag, .tag-primary, .tag-alert {
  padding: 5px 0;
}

.card-last-results, .card-time-learn {
  width: 38%;
  min-height: 250px;
  padding: 12px;
}

.card-last-results .header, .card-time-learn .header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
  height: 30px;
}

.card-time-learn {
  width: 58%;
}

.card-time-learn .verticalBars {
  border-top: 1px solid #f3f1fa;
  padding-top: 10px;
}

.report-item {
  border-bottom: 1px solid #e6e6e6;
  padding: 12px 0;
}

.report-item:last-child {
  border-bottom: none;
}

.report-item .text {
  width: 65%;
}

.report-item .text .identifier {
  margin-right: 5px;
}

.report-item .bar {
  width: 35%;
}

.list .item, .list-color .item {
  border-bottom: 1px solid #e6e6e6;
  padding: 8px;
}

.list .item:last-child, .list-color .item:last-child {
  border-bottom: none;
}

.list-color {
  margin: 25px 0;
}

.my-profile .head .profile-photo {
  border: 3px solid #e6e6e6;
  padding: 20px;
}

.my-profile .head .btn-plus {
  right: calc(50% - 70px);
  bottom: calc(50% - 70px);
}

@media (max-width: 1366px) {
  .dashboard {
    width: 96vw;
  }
  .dashboard .header .title {
    font-size: 1.2rem;
  }
  .dashboard .dashboard-menu .menu li .link {
    padding: 10px 0 10px 20px;
    font-size: 0.75rem;
    font-weight: 500;
  }
  .paragraph {
    font-size: 0.75rem;
  }
}

@media (max-width: 1280px) {
  .card-last-results, .card-time-learn,
  .card-time-learn {
    padding-bottom: 25px;
    margin-bottom: 25px;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .card-user {
    min-width: 48%;
  }
}
/*# sourceMappingURL=style.css.map */