@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
.flexbox {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.bar .progress-container .progress, .dashboard-main .card-welcome .left-container .animate, .dashboard-main .card-welcome .right-container .animate, .pop-info {
  position: absolute;
}

.bar .progress-container, .dashboard-main .card-welcome .left-container, .dashboard-main .card-welcome .right-container, .verticalBars .item-bar {
  position: relative;
}

.dashboard-menu .menu li .icon, .dashboard-menu .menu li .home, .dashboard-menu .menu li .classes, .dashboard-menu .menu li .resources, .dashboard-menu .menu li .learning, .dashboard-menu .menu li .chat, .dashboard-menu .menu li .settings, .dashboard-menu .menu li .search, .dashboard-menu .menu li span, .verticalBars .item-bar:hover .pop-info {
  display: block;
}

.hide, .pop-info {
  display: none;
}

.flexbox {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-center, body, .dashboard, .dashboard-menu .header, .dashboard-menu .menu, .dashboard-main .card-welcome, .dashboard-main .card-welcome .right-container {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  justify-content: center;
}

.flex-equal, .bar .progress-container, .card-time-learn, .report-item, .dashboard-main .header {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.flex-end, .left-container, .right-container {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
}

.flex-start, .right-container, .bar, .dashboard-menu .menu li .link, .dashboard-main .header h2, .report-item .text, .verticalBars {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
}

.dashboard, .dashboard-main .header, .dashboard-main .card-welcome, .dashboard-main .card-welcome .right-container .header .title {
  margin-bottom: 25px;
}

.dashboard-menu .menu li, .dashboard-main .card-welcome, .dashboard-main .card-welcome .right-container .header, .dashboard-main .card-welcome .right-container .header .title, .dashboard-main .card-welcome .right-container .header .paragraph, .dashboard-main .card-welcome .left-container .animate, .dashboard-main .card-welcome .right-container .animate, .card-time-learn .verticalBars, .report-item {
  width: 100%;
}

.left-container, .right-container {
  width: 50%;
}

.dashboard-main .card-welcome .left-container, .dashboard-main .card-welcome .right-container, .dashboard-actions, .report-item .bar {
  height: 100%;
}

.circle, .home, .classes, .resources, .learning, .chat, .settings {
  border-radius: 50%;
}

.elem-shadow, .pop-info {
  -webkit-box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.15);
}

.cont-radius, .dashboard {
  border-radius: 20px;
}

.card-radius, .dashboard-main .card-welcome, .card-last-results, .card-time-learn {
  border-radius: 10px;
}

.elem-radius {
  border-radius: 5px;
}

.header .title {
  font-size: 1.6rem;
}

.paragraph, .dashboard-menu .menu li, .header h2 {
  font-size: 0.85rem;
}

.info, .bar .value, .header .subtitle, .pop-info, .report-item .bar .value {
  font-size: 0.75rem;
}

.report-item .text .identifier, .report-item .text .name {
  font-size: 0.7rem;
}

.dashboard-menu .header {
  text-align: center;
}

.info, .dashboard-menu .menu li, .header .title, .header .subtitle, .header h2 {
  font-weight: bold;
}

.header .title, .header .subtitle, .header h2 {
  color: #030540;
}

.dashboard-menu .menu li {
  color: #7879b2;
}

.verticalBars .item-bar {
  cursor: pointer;
}

.dashboard-menu .menu li .link, .pop-info, .pop-info[data-position=top], .pop-info[data-position=left], .verticalBars .item-bar {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.info, .paragraph, .bar .value, .dashboard-menu .menu li, .header .title, .header .subtitle, .header h2, .pop-info, .report-item .text .identifier, .report-item .text .name {
  font-family: 'Montserrat', sans-serif;
}

/*
    Função para automatizar a compatibilidade de z-idexes
*/
body {
  background-color: #c5cbd8;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  padding-top: 2%;
}

a {
  color: inherit;
  text-decoration: none;
}

.icon, .home, .classes, .resources, .learning, .chat, .settings, .search {
  width: 40px;
  height: 40px;
}

.home {
  background: #f3f1fa url("https://img.icons8.com/cotton/24/000000/web-design.png") no-repeat center;
}

.classes {
  background: #f3f1fa url("https://img.icons8.com/cotton/24/000000/code-file-1.png") no-repeat center;
}

.resources {
  background: #f3f1fa url("https://img.icons8.com/cotton/24/000000/cloud-line-chart.png") no-repeat center;
}

.learning {
  background: #f3f1fa url("https://img.icons8.com/cotton/24/000000/health-calendar.png") no-repeat center;
}

.chat {
  background: #f3f1fa url("https://img.icons8.com/cotton/24/000000/online-support.png") no-repeat center;
}

.settings {
  background: #f3f1fa url("https://img.icons8.com/cotton/24/000000/edit-property.png") no-repeat center;
}

.search {
  border-radius: 5px;
  background: #c5cbd8 url("https://img.icons8.com/material-rounded/24/ffffff/search.png") no-repeat center;
}

.search {
  border-radius: 5px;
  background: #c5cbd8 url("https://img.icons8.com/material-rounded/24/ffffff/search.png") no-repeat center;
}

.info {
  color: #b3b3b3;
}

.paragraph {
  color: #030540;
  line-height: 1.2rem;
}

.left-container .info, .right-container .info {
  margin: 0 25px;
}

.bar .progress-container {
  border-radius: 5px;
  height: 5px;
  width: 60%;
  background-color: #e6e6e6;
}

.bar .progress-container .progress {
  border-radius: 5px;
  height: 5px;
  max-width: 100%;
  left: 0;
  top: 0;
  background-color: #adaffb;
}

.bar .value {
  margin-left: 10px;
  font-weight: 600;
  color: #7879b2;
}

.bar-negative .progress-container .progress {
  background-color: #ff808b;
}

.bar-negative .value {
  color: #ff808b;
}

.dashboard {
  width: 88vw;
  min-height: 80vh;
  background-color: #fff;
}

.dashboard-menu {
  min-height: 100vh;
  width: 15%;
  border-right: 1px solid #eae9ee;
}

.dashboard-menu .header {
  padding: 40px 10px;
  margin-bottom: 40px;
}

.dashboard-menu .menu li .link {
  padding: 10px 0 10px 40px;
}

.dashboard-menu .menu li .link:hover {
  background-color: #f3f1fa;
}

.dashboard-menu .menu li span {
  padding-left: 15px;
}

.dashboard-menu .menu .active {
  border-right: 2px solid #030540;
}

.dashboard-main {
  min-height: 100vh;
  width: 65%;
  background-color: #f3f1fa;
  padding: 40px;
}

.dashboard-main .card-welcome {
  background-color: #f8e5e9;
  height: 150px;
  padding: 25px;
}

.dashboard-main .card-welcome .right-container .header .title {
  color: #ff808b;
}

.dashboard-main .card-welcome .left-container .animate, .dashboard-main .card-welcome .right-container .animate {
  z-index: 3;
  bottom: -25px;
  height: 180px;
  background: url("../../images/welcome.png") no-repeat center;
  background-size: contain;
}

.dashboard-actions {
  width: 20%;
  border-left: 1px solid #eae9ee;
  padding: 40px 40px 40px 0;
}

.pop-info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 4;
  border-radius: 5px;
  padding: 8px;
  min-width: 150px;
  background-color: #030540;
  color: white;
}

.pop-info:after {
  z-index: 5;
  position: absolute;
  left: 10%;
  top: 100%;
  display: block;
  content: '';
  border-top: 10px solid #030540;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.pop-info[data-position=top] {
  top: -30px;
  left: -0%;
}

.pop-info[data-position=left] {
  top: 50%;
  left: -0%;
}

.card-last-results, .card-time-learn {
  width: 38%;
  min-height: 250px;
  background-color: white;
  padding: 12px;
}

.card-last-results .subtitle, .card-time-learn .subtitle {
  margin-top: 20px;
}

.card-time-learn {
  width: 58%;
}

.card-time-learn .verticalBars {
  border-top: 1px solid #f3f1fa;
  padding-top: 10px;
}

.report-item {
  border-bottom: 1px solid #e6e6e6;
  padding: 12px 0;
}

.report-item:last-child {
  border-bottom: none;
}

.report-item .text {
  width: 65%;
}

.report-item .text .identifier {
  font-weight: 600;
  color: #030540;
  margin-right: 5px;
}

.report-item .text .name {
  font-weight: 600;
  color: #b3b3b3;
}

.report-item .bar {
  width: 35%;
}

.verticalBars {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -moz-align-items: end;
  align-items: end;
  height: 150px;
}

.verticalBars .item-bar {
  border-radius: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  background-color: #e6e6e6;
  min-height: 2px;
  margin: 0 5px;
}

.verticalBars .item-bar:nth-child(even) {
  background-color: #adaffb;
}

.verticalBars .item-bar:nth-child(odd) {
  background-color: #fdb45c;
}

.verticalBars .item-bar:last-child {
  background-color: red;
}

.verticalBars .item-bar:last-child .pop-info {
  left: -150%;
}

@media (max-width: 1366px) {
  .dashboard {
    width: 96vw;
  }
  .dashboard .header .title {
    font-size: 1.2rem;
  }
  .dashboard .dashboard-menu .menu li .link {
    padding: 10px 0 10px 20px;
    font-size: 0.75rem;
    font-weight: 500;
  }
  .paragraph {
    font-size: 0.75rem;
  }
}
/*# sourceMappingURL=style.css.map */