@mixin buttonBasic($boder:false) {
    @extend %transition;
    @extend %pointer;

    @if $boder {
        border: $boder
    }

    @else {
        border: none
    }

    height: 30px;
}

.btn {
    @include buttonBasic();
    @extend .elem-radius;
}

.btn-primary {
    @extend .btn;
    @extend %paddingButton;
    @extend %color-white;
    @extend %bg-primary;
    &:hover {
        @extend %color-secondary;
    }
}

.goto {
    @extend %transition;
    @extend %absolute;
    @extend %circle;
    @extend %elem-shadow;
    @extend %bg-white;
    width: 24px;
    height: 24px;   
    background-image: url('https://img.icons8.com/material-outlined/16/000000/advance.png');
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        @extend %bg-blue;
        background-image: url('https://img.icons8.com/material-outlined/16/ffffff/advance.png');
    }
}

.btn-plus {
    @extend %circle;
    @extend %bg-blue;
    width: 25px;
    height: 25px;    
    background-image: url('https://img.icons8.com/android/15/ffffff/plus.png');
    background-repeat: no-repeat;
    background-position: center
}