body{
    @extend %centralize;
    background-color: $colorBase;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    padding-top: 2%;
}
a{
    color:inherit;
    text-decoration: none;
}