.my-profile {
    @extend %w-100;

    .head {
        @extend %centralize;
        @extend %w-100;

        .profile-photo {
            @extend %circle;
            border: 3px solid $greyLight;
            padding: 20px;
            background-color: $white
        }
    }
}