.card-last-results {
    @include cardBasic;
    width: 38%;
    min-height: 250px;
    background-color: $white;
    padding: 12px;
    .subtitle{
        margin-top: 20px;
    }
}

.card-time-learn {
    @extend %flex-equal;
    @extend .card-last-results;
    width: 58%;
    .verticalBars{
        border-top: 1px solid $colorComplement;
        padding-top: 10px;
        @extend %w-100;
    }
}

@mixin reportTypograph {
    @extend %fontPadrao;
    @extend %font-size-smaller;
    font-weight: 600;
}

.report-item {
    @extend %flex-equal;
    @extend %w-100;
    border-bottom: 1px solid $greyLight;
    padding: 12px 0;

    &:last-child {
        border-bottom: none;
    }
    .text {
        @extend %flex-start;
        width: 65%;

        .identifier {
            @include reportTypograph;
            color: $textColor;
            margin-right: 5px;
        }

        .name {
            @include reportTypograph;
            color: $grey;
        }
    }

    .bar {
        @extend %h-100;
        width: 35%;

        .value {
            @extend %font-size-small
        }
    }
}