.tag {
    @extend %fontPadrao;
    @extend %font-size-small;
    @extend %centralize;
    @extend .elem-radius;
    @extend %bold;
    background-color: $greyLight;
    padding: 5px 0;
    color: $textColor;
}

.tag-primary {
    @extend .tag;
    background-color: $primary;
    color: $white;
}

.tag-alert {
    @extend .tag;
    background-color: $red;
    color: $white;
}