.info{
    @extend %fontPadrao;
    @extend %font-size-small;
    @extend %bold;
    color: $grey;
}
.paragraph{
    @extend %fontPadrao;
    @extend %font-size-medium;
    color: $textColor;
    line-height: $defaultLineHeith;
}