.verticalBars {
    @extend %flex-start;
    @include align-items(end);
    height: 150px;

    .item-bar {
        @extend %pointer;
        @extend %transition;
        @extend %relative;
        @include border-radius($borderRadiusElem);
        flex-grow: 1;
        flex-basis: 0;
        background-color: $greyLight;
        min-height: 2px;
        margin: 0 5px;

        &:nth-child(even) {
            background-color: lighten($textColor, 70);
        }

        &:nth-child(odd) {
            background-color: $yellow
        }

        &:hover {
            .pop-info {
                @extend %block;
            }
        }

        &:last-child {
            background-color: red;

            .pop-info {
                left: -150%;
            }
        }
    }
}